USE [EL SALVADOR]
GO
ALTER TABLE [dbo].[MUNSV] DROP CONSTRAINT [FK_MUNSV_DEPSV]
GO
ALTER TABLE [dbo].[DEPSV] DROP CONSTRAINT [FK_DEPSV_ZONESV]
GO
/****** Object:  Table [dbo].[ZONESV]    Script Date: 24/02/2017 03:43:25 p.m. ******/
DROP TABLE [dbo].[ZONESV]
GO
/****** Object:  Table [dbo].[MUNSV]    Script Date: 24/02/2017 03:43:25 p.m. ******/
DROP TABLE [dbo].[MUNSV]
GO
/****** Object:  Table [dbo].[DEPSV]    Script Date: 24/02/2017 03:43:25 p.m. ******/
DROP TABLE [dbo].[DEPSV]
GO
USE [master]
GO
/****** Object:  Database [EL SALVADOR]    Script Date: 24/02/2017 03:43:25 p.m. ******/
DROP DATABASE [EL SALVADOR]
GO
/****** Object:  Database [EL SALVADOR]    Script Date: 24/02/2017 03:43:25 p.m. ******/
CREATE DATABASE [EL SALVADOR] ON  PRIMARY 
( NAME = N'EL SALVADOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EL SALVADOR.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EL SALVADOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EL SALVADOR_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EL SALVADOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EL SALVADOR]
GO
/****** Object:  Table [dbo].[DEPSV]    Script Date: 24/02/2017 03:43:25 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPSV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepName] [nvarchar](30) NOT NULL,
	[ISOCode] [nchar](5) NOT NULL,
	[ZONESV_ID] [int] NOT NULL,
 CONSTRAINT [PK_DEPSV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MUNSV]    Script Date: 24/02/2017 03:43:25 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNSV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MunName] [nvarchar](100) NOT NULL,
	[DEPSV_ID] [int] NOT NULL,
 CONSTRAINT [PK_MUNSV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ZONESV]    Script Date: 24/02/2017 03:43:25 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZONESV](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZoneName] [varchar](15) NOT NULL,
 CONSTRAINT [PK_ZONESV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

SET IDENTITY_INSERT [dbo].[DEPSV] ON 
INSERT [dbo].[DEPSV] ([ID], [DepName], [ISOCode], [ZONESV_ID]) VALUES (1, N'Ahuachapán', N'SV-AH', 1)
INSERT [dbo].[DEPSV] ([ID], [DepName], [ISOCode], [ZONESV_ID]) VALUES (2, N'Santa Ana', N'SV-SA', 1)
INSERT [dbo].[DEPSV] ([ID], [DepName], [ISOCode], [ZONESV_ID]) VALUES (3, N'Sonsonate', N'SV-SO', 1)
SET IDENTITY_INSERT [dbo].[DEPSV] OFF

SET IDENTITY_INSERT [dbo].[MUNSV] ON 
INSERT [dbo].[MUNSV] ([ID], [MunName], [DEPSV_ID]) VALUES (1, N'Ahuachapán', 1)
INSERT [dbo].[MUNSV] ([ID], [MunName], [DEPSV_ID]) VALUES (2, N'Jujutla', 1)
INSERT [dbo].[MUNSV] ([ID], [MunName], [DEPSV_ID]) VALUES (3, N'Atiquizaya', 1)
INSERT [dbo].[MUNSV] ([ID], [MunName], [DEPSV_ID]) VALUES (254, N'San Ildefonso', 10),
SET IDENTITY_INSERT [dbo].[MUNSV] OFF

SET IDENTITY_INSERT [dbo].[ZONESV] ON 
INSERT [dbo].[ZONESV] ([ID], [ZoneName]) VALUES (1, N'Occidental')
INSERT [dbo].[ZONESV] ([ID], [ZoneName]) VALUES (2, N'Central')
INSERT [dbo].[ZONESV] ([ID], [ZoneName]) VALUES (3, N'Paracentral')
SET IDENTITY_INSERT [dbo].[ZONESV] OFF

ALTER TABLE [dbo].[DEPSV]  WITH CHECK ADD  CONSTRAINT [FK_DEPSV_ZONESV] FOREIGN KEY([ZONESV_ID])
REFERENCES [dbo].[ZONESV] ([ID])
GO
ALTER TABLE [dbo].[DEPSV] CHECK CONSTRAINT [FK_DEPSV_ZONESV]
GO
ALTER TABLE [dbo].[MUNSV]  WITH CHECK ADD  CONSTRAINT [FK_MUNSV_DEPSV] FOREIGN KEY([DEPSV_ID])
REFERENCES [dbo].[DEPSV] ([ID])
GO
ALTER TABLE [dbo].[MUNSV] CHECK CONSTRAINT [FK_MUNSV_DEPSV]
GO
USE [master]
GO
