USE [EL_SALVADOR]
GO
/****** Object:  Table [dbo].[DOES]    Script Date: 19/05/2015 10:29:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOES](
	[does_id] [int] IDENTITY(1,1) NOT NULL,
	[does_name] [nvarchar](30) NULL,
 CONSTRAINT [PK_DOES] PRIMARY KEY CLUSTERED 
(
	[does_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOES]    Script Date: 19/05/2015 10:29:18 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOES](
	[toes_id] [int] IDENTITY(1,1) NOT NULL,
	[toes_name] [nvarchar](60) NULL,
	[does_toes_id] [int] NULL,
 CONSTRAINT [PK_TOES] PRIMARY KEY CLUSTERED 
(
	[toes_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DOES] ON 

INSERT [dbo].[DOES] ([does_id], [does_name]) VALUES (1, N'Ahuachapán')
INSERT [dbo].[DOES] ([does_id], [does_name]) VALUES (2, N'Santa Ana')
INSERT [dbo].[DOES] ([does_id], [does_name]) VALUES (3, N'Sonsonate')
SET IDENTITY_INSERT [dbo].[DOES] OFF
SET IDENTITY_INSERT [dbo].[TOES] ON 

INSERT [dbo].[TOES] ([toes_id], [toes_name], [does_toes_id]) VALUES (1, N'Ahuachapán', 1)
INSERT [dbo].[TOES] ([toes_id], [toes_name], [does_toes_id]) VALUES (2, N'Jujutla', 1)
INSERT [dbo].[TOES] ([toes_id], [toes_name], [does_toes_id]) VALUES (3, N'Atiquizaya', 1)
GO
SET IDENTITY_INSERT [dbo].[TOES] OFF
ALTER TABLE [dbo].[TOES]  WITH CHECK ADD  CONSTRAINT [FK_TOES_DOES] FOREIGN KEY([does_toes_id])
REFERENCES [dbo].[DOES] ([does_id])
GO
ALTER TABLE [dbo].[TOES] CHECK CONSTRAINT [FK_TOES_DOES]
GO
